/* BEGIN CARBON OVERRIDES */

.bx--label {
    color: #cececece;
}

.bx--inline-loading__text {
    color: #ffffff;
}

.blocky {
    border-radius: 50%;
    margin-left: 1.125em;
}

/* END CARBON OVERRIDES */
